* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #252525;
  position: fixed;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #252525;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #252525;
  color: white;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 25px;
}

#welcome-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1500964757637-c85e8a162699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2578&q=80");
}

#projects {
  margin: 0;
  padding: 0;
  height: 500px;
  text-align: center;
  background-color: #ebcb77;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid blue;
  flex: 1;
}

.profile-links {
  display: flex;
}

@media only screen and (max-width: 600px) {
  #profile-link {
    display: none;
  }
}
